.scroll-area{
    flex-grow : 1;
    height : 100%;
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-top : 1px solid rgb(229, 224, 224);
    position: relative;
}
.nav-active{
    background-color: #f5f5f5;
    color: #34a853;
}

.nav-item + .nav-item{
    margin-top: 2em;
}
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 4px;
  }
    ::-webkit-scrollbar-track:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }  

@media (max-width: 1023.9px){
    .sidebar{
        display: none;
    }
}