#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  background-color : #f9fafb;
  min-height: 100vh;
}



.form-group{
  margin: 10px auto;
  max-width: 400px;
  display : flex;
  justify-content : space-between;
  height: 2em;
}
.no-scroll{
  overflow: hidden;
  background-color: aquamarine;
}
@media (min-width : 1024px){
  .form-group{
    margin : 20px auto;
  }
}
/* Slide-in animation */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Slide-out animation */
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* Apply animations dynamically */
.animate-slide-in {
  animation: slideIn 0.3s ease-in-out forwards;
}

.animate-slide-out {
  animation: slideOut 0.3s ease-in-out forwards;
}
.custom-scrollbar::-webkit-scrollbar {
  height: 3px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #f9fafb;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}